@import "../../common/common";

.popular-item{
    border-radius: 2px;
    max-width: 420px;
    margin: 20px;
    padding: 16px;
    position: relative;

    p{
        margin-bottom:6px;
        margin-top:0;
        font-weight: bold;
        width: 264px;
    }

    .name{
        font-size: 1.05rem;
        color: $theme-blue;
    }

    .rating{
        color: grey;
        font-size: 0.9rem;
    }

    &.yellow-bg{
        background-color: $bg-yellow;
    }
    &.grey-bg{
        background-color: $bg-grey;
    }

    .item-logo{
        img{
            width: 80px;
            height: 80px;
        }
    }

    .item-description{
        position: absolute;
        top: 20px;
        left: 120px;

        .remove-btn{
           cursor: pointer;
           color: red;
           font-weight: 700;
           font-size: 0.9rem;
        }
    }
}