
<div class="popular-item" *ngIf="this.popularItem" [ngClass]="{'yellow-bg':this.popularItem.rating == '5.0', 'grey-bg':this.popularItem.rating != '5.0' }">
  <div class="item-logo">
    <img [src]="this.popularItem.thumbnail">
  </div> 
  <div class="item-description">
      <p class="name">
        {{ this.popularItem.item }}
      </p>
      
      <p class="rating">
        Rating: {{ this.popularItem.rating }}
      </p>

      <span class="remove-btn" (click)="remove($event, this.popularItem.id)">
        Remove
      </span>
  </div>
  
</div>