$mobile-width: 414px;
$tablet-width: 768px;
$desktop-width: 1400px;

$bg-yellow: #f6f2ca;
$bg-grey: #e7e7e7;

$theme-green:#537b20;
$theme-blue: #0565ae;
$light-green:#f6f9f3;

.container{
    max-width: $desktop-width;
    margin: auto;
}

.txt-blue{
    color: $theme-blue;
}

